@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;
    background-color:#1F2739;
}

h1 {
    font-size:3em;
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
}

.blue {
    color: #185875;
}
.yellow {
    color: #FFF842;
}

h2 {
    font-size:1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
}

.red{
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
    text-align: center;
}

/* doesn't work on edge and chrome */
.news_table thead tr th{
    position: sticky;
    top: 0;
}

.news_table th h1 {
    font-weight: bold;
	font-size: 1.5em;
    color: #185875;
    text-align: center;
}

.news_table td {
    font-weight: normal;
	font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	-moz-box-shadow: 0 2px 2px -2px #0E1119;
	box-shadow: 0 2px 2px -2px #0E1119;
}

.news_table td a{
    color: #87CEFA;
}

.news_table {
    text-align: left;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

#tableDiv {
  height:750px;
  overflow:auto;
  margin-top:20px;
}

.news_table td, .container th {
    padding-bottom: 1%;
	padding-top: 1%;
    padding-left:0.5%;
}

.news_table tr th:nth-last-child(2), tr td:nth-last-child(2) {
    display: none;
}

/* Background-color of the odd rows */
.news_table tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.news_table tr:nth-child(even) {
    background-color: #2C3446;
}

.news_table th {
    background-color: #1F2739;
}

.news_table td:first-child {
    color: #FB667A;
}

.news_table tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	box-shadow: 0 6px 6px -6px #0E1119;
}

.news_table td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
	transition-property: all;
    transition-timing-function: linear;
}

@media (max-width: 800px) {
.news_table td:nth-child(4),
.news_table th:nth-child(4) { display: none; }
}

.container{
    position: relative;
    padding-left: 80%;
    /*top: 10%;*/
    /*left: 95%;*/
    /*transform: translate(-50%, -90%);*/
}

.container a{
  display: block;
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.container a span{
  position: relative;
  z-index: 2;
}

.container a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #FFF842;
  transition: all .35s;
}

.container a:hover{
  color: #000000;
}

.container a:hover:after{
  width: 100%;
}


/*like_btn{*/
/*    cursor: pointer;*/
/*    outline: 0;*/
/*    color: #AAA;*/
/*}*/

.btn:focus {
  outline: white;
}

.green{
  color: #74ee15;
}

#loading{
    position:absolute;
    display: block;
    text-align: center;
    padding:0;
    margin-left: fill;
    margin-right: fill;
    margin-top: fill;
    opacity: 0.5;
    background-color: #fff;
    visibility: hidden;
    width: 100%;
    height: 100%;
}



