@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;
    background-color:#1F2739;
}

h1 {
    font-size:3em;
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
}

.blue {
    color: #185875;
}


p{
    color: #bbc3c8;
    font-family: 'Verdana',
    sans-serif; font-size: 16px;
    line-height: 26px;
    text-indent: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

ol{
    color: #00ff7f;
    padding-left: 15%;
}

li{
    margin-top: 3px;
}

h2 {
    font-size:1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
}

h3{
    color: #bbc3c8;
    text-align: left;
    text-indent: 20px;
    padding-left: 8%;
    font-family: 'Verdana',
    sans-serif; font-size: 20px;
    font-style: normal;
}

em{
    color: #ff00ff;
}

.user_study{
    position: relative;
    /*top: 10%;*/
    /*left: 95%;*/
    padding-left: 70%;
    /*transform: translate(-50%, -50%);*/
}

.user_study a{
  display: block;
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.user_study a span{
  position: relative;
  z-index: 2;
}

.user_study a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #FFF842;
  transition: all .35s;
}

.user_study a:hover{
  color: #000000;
}

.user_study a:hover:after{
  width: 100%;
}
