<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style_instructions.css" rel="stylesheet" type="text/css">
<script src="../static/js/jquery-3.3.1.js"></script>
<script type = "text/javascript" src="../static/js/perform_actions.js"></script>
<title>News Recommender</title>
</head>
    <body>
            <h1>
                <span class="blue">&lt;</span>INSTRUCTIONS<span class="blue">></span>
            </h1>
            <br><br>
            <p align="justify">
                You will be interacting with 2 news recommendation systems - R1 and R2
                <ol>
                    <li>You will be presented with a list of 35 news categories. Select at least 7 categories based on
                        your interest.</li>
                    <li>Based on your chosen categories, you will be presented with a set of news headlines with short
                        descriptions, links to the respective articles (if you're interested in reading further), and a
                        like button.</li>
                    <li>Simply scroll through the list and choose articles you like/catch your eye by DOUBLE-CLICKING
                        the like button presented beside the article.</li>
                    <li>Like between <strong>3-5</strong> articles from the list.</li>
                    <li>Then click on "Get Recommendations" on the bottom right of the page.</li>
                    <li>You will be presented with 10 articles based on your previously chosen articles.</li>
                    <li>Read the headlines of these articles and again choose between 3-5 articles that appeal to you.</li>
                    <li><strong>Pay attention to the articles recommended (headlines/description) everytime.</strong></li>
                    <li>You will have to request for recommendations <strong>at least 5 times</strong> before being allowed to proceed to R2.</li>
                    <li>Proceed further by clicking on the "Go to R2" button.</li>
                    <li>You will be once again presented with a set of news headlines, same as in step 1.</li>
                    <li>Follow the same process.</li></li>
                    <li>At the end of your interaction with both systems, you will have to fill out a small survey and
                        answer questions based on your observations.</li>
                    <li>Proceed to filling a survey by clicking on the "Go to Survey" button.</li>
                    <li>A new tab with the survey page will open automatically.</li>
                </ol>
            </p>
            <h2><b>PLEASE DO NOT REFRESH ANY PAGE AS IT WILL START A NEW SESSION.</b></h2>
            <br>
            <div class="user_study">
                <a href="/categories" id="study_btn" target="_blank"><span>Select Categories</span></a>
            </div>
    </body>
</html>