<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style_about.css" rel="stylesheet" type="text/css">
<script src="../static/js/jquery-3.3.1.js"></script>
<script type = "text/javascript" src="../static/js/perform_actions.js"></script>
<title>News Recommender</title>
</head>
    <body>
            <h1>
                <span class="blue">&lt;</span>FILTER<span class="blue">></span>
                <span class="yellow">Bubble</span>
            </h1>
            <h2>A master thesis user study</h2>

            <p align="justify">
                The term filter bubble was first used by internet activist Eli Pariser in his book, "The Filter Bubble:
                What the Internet Is Hiding from You". He performed a simple experiment - he asked two of his friends to
                google for the word 'Egypt' and asked them to send him screenshots of their search results. One friend
                received search results regarding protests and crises in Egypt, while the other friend received travel
                information and general news of Egypt.
            </p>
            <img src="/static/img/filterbubble.png" alt="Echo Chamber/Filter Bubble Illustration"/>
            <a href="https://www.youtube.com/watch?v=Zk1o2BpC79g"><span class="caption">Filter Bubble</span></a>
            <p align="justify">
                    Since recommendation systems usually rely on your internet history and other user histories similar to
                    yours to recommend items, due to eventual overspecialization of the algorithm you are
                    exposed to information that the algorithm <strong><em>thinks</em></strong> you want to see,
                    and not necessarily what you <strong><em>need</em></strong> to see. This ends up creating a filter bubble (also known
                    as an information bubble/echo chamber) where you are no longer exposed to diverse themes and
                    opinions, instead you end up consuming the same kind of content again and again.
            </p>
            <br>
           <div class="instructions">
                <a href="/instructions" id="instruct_btn"><span>Continue to Instructions</span></a>
           </div>
    </body>
</html>