<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style_about.css" rel="stylesheet" type="text/css">
<script src="../static/js/jquery-3.3.1.js"></script>
<script type = "text/javascript" src="../static/js/perform_actions.js"></script>
<title>News Recommender</title>
</head>
    <body>
            <h1>
                <span class="blue">&lt;</span>RECOMMENDATION<span class="blue">></span>
                <span class="yellow">Systems</span>
            </h1>
            <h2>A master thesis user study</h2>

            <h3>Filter Bubbles</h3>
            <p align="justify">
                The term filter bubble was first used by internet activist Eli Pariser in his book, "The Filter Bubble:
                What the Internet Is Hiding from You". He performed a simple experiment - he asked two of his friends to
                google for the word 'Egypt' and asked them to send him screenshots of their search results. One friend
                received search results regarding protests and crises in Egypt, while the other friend received travel
                information and general news of Egypt.
            </p>
            <img src="/static/img/filterbubble.png" alt="Echo Chamber/Filter Bubble Illustration"
            title="Filter Bubble"
            longdesc="https://www.youtube.com/watch?v=Zk1o2BpC79g"/>
            <p align="justify">
                <strong>
                    Since recommendation systems usually rely on your internet history and other user histories similar to
                    yours to recommend items, due to eventual overspecialization of the algorithm one is
                    exposed to information that the algorithm <em>thinks</em> one wants to see,
                    and not necessarily what one <em>needs</em> to see, which often ends up being content restricted to
                    a few topics.
                </strong>

            </p>
            <br><br>
           <div class="instructions">
                <a href="/instructions" id="instruct_btn"><span>Continue to instructions</span></a>
           </div>
    </body>
</html>