<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style_about.css" rel="stylesheet" type="text/css">
<script src="../static/js/jquery-3.3.1.js"></script>
<script type = "text/javascript" src="../static/js/perform_actions.js"></script>
<title>News Recommender</title>
</head>
    <body>
            <h1>
                <span class="blue">&lt;</span>RECOMMENDATION<span class="blue">></span>
                <span class="yellow">Systems</span>
            </h1>
            <h2>A master thesis user study</h2>

            <p align="justify">
                Recommender systems aim to predict users' interests and recommend product items that quite likely are
                interesting for them. A recommender system applies algorithms to suggest items to online users when they
                visit a website or view an online product. Data required for recommender systems stems from explicit user
                ratings after watching a movie or listening to a song, from implicit search engine queries and purchase
                histories, or from other knowledge about the users/items themselves. Sites like Spotify, YouTube or
                Netflix use that data in order to suggest playlists, so-called Daily mixes, or to make video
                recommendations, respectively.
            </p>
            <br><br>
           <div class="instructions">
                <a href="/filterbubble" id="instruct_btn"><span>Continue...</span></a>
           </div>
    </body>
</html>