<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style_instructions.css" rel="stylesheet" type="text/css">
<script src="../static/js/jquery-3.3.1.js"></script>
<script type = "text/javascript" src="../static/js/perform_actions.js"></script>
<title>News Recommender</title>
</head>
    <body>
            <h1>
                <span class="blue">&lt;</span>INSTRUCTIONS<span class="blue">&gt;</span>
            </h1>
            <br><br>
            <p align="justify">
                You will be interacting with 2 news recommender systems - R1 and R2
                <ol>
                    <li>You will be presented with a set of news headlines with short descriptions, links to the
                    respective articles (if you're interested in reading further), and a like button.</li>
                    <li>You will go through the list and choose articles you like by DOUBLE-CLICKING on the like
                    button presented beside the article.</li>
                    <li>LIKE UPTO <em>5 ARTICLES</em> FROM THE LIST.</li>
                    <li>Now click <em>ONCE</em> on the "Get Recommendations" button on the bottom right of the page.
                        Give the new page a few seconds to load.</li>
                    <li>You will be now presented with 10 articles based on your previous choices.</li>
                    <li>Continue interacting with the system and try to observe what is going on.</li>
                </ol>
                <p align="justify">Now click on the "Go to R2" button and follow the same process.</p>
            </p>
            <p align="justify">
                At the end of your interaction with both systems, you will have to fill out a small survey and answer
                questions based on your observations.
                <p align="justify">Proceed to filling a survey immediately by clicking on the "Go to Survey" button.</p>
            </p>
            <br><br>
            <div class="user_study">
                <a href="/news_recommender-1" id="study_btn" target="_blank"><span>Continue to user study...</span></a>
            </div>
    </body>
</html>