<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style_about.css" rel="stylesheet" type="text/css">
<script src="../static/js/jquery-3.3.1.js"></script>
<script type = "text/javascript" src="../static/js/perform_actions.js"></script>
<title>News Recommender</title>
</head>
    <body>
            <h1>
                <span class="blue">&lt;</span>RECOMMENDATION<span class="blue">&gt;</span>
                <span class="yellow">Systems</span>
            </h1>
            <h2>A master thesis user study by <span class="red">Vaidehi Bafna</span></h2>

            <p align="justify">
                Recommender systems aim to predict users' interests and recommend product items that quite likely are
                interesting for them. A recommender system applies algorithms to suggest items to online users when they
                visit a website or view an online product. Data required for recommender systems stems from explicit user
                ratings after watching a movie or listening to a song, from implicit search engine queries and purchase
                histories, or from other knowledge about the users/items themselves. Sites like Spotify, YouTube or
                Netflix use that data in order to suggest playlists, so-called Daily mixes, or to make video
                recommendations, respectively.
            </p>
            <p align="justify">
                Companies using recommender systems focus on increasing sales as a result of very personalized offers
                and an enhanced customer experience. Recommendations typically aim at speeding up searches and on making
                it easier for users to access content they’re interested in, and surprise them with offers they would have never
                searched for.
            </p>
            <br>
            <h3>Filter Bubbles</h3>
            <p align="justify">
                The term filter bubble was first used by internet activist Eli Pariser in his book, "The Filter Bubble:
                What the Internet Is Hiding from You". He performed a simple experiment - he asked two of his friends to
                google for the word 'Egypt' and asked them to send him screenshots of their search results. One friend
                received search results regarding protests and crises in Egypt, while the other friend received travel
                information and general news of Egypt.
            </p>
            <p align="justify">
                It is the intellectual isolation that can occur when websites make use of algorithms to selectively
                assume the information a user would want to see, and then give information to the user according to this
                assumption. Websites make these assumptions based on the information related to the user, such as former
                click behavior, browsing history, search history and location.

                <strong>
                    Hence, the user is exposed to information that the internet often <em>thinks</em> one wants to see,
                    and not necessarily what one <em>needs</em> to see.
                </strong>

            </p>
            <p align="justify">
                A filter bubble, therefore, can cause users to get significantly less contact with contradicting
                viewpoints, causing the user to become intellectually isolated. Personalized search results from Google
                and personalized news stream from Facebook are two perfect examples of this phenomenon.
            </p>
            </p>
            <br><br>
           <div class="instructions">
                <a href="/instructions" id="instruct_btn"><span>Continue to instructions</span></a>
           </div>
    </body>
</html>