<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/style_home.css" rel="stylesheet" type="text/css">
    <script type = "text/javascript" src="../static/js/perform-actions.js"></script>
    <title>Start</title>
</head>
<body>
    <h1>BEFORE YOU BEGIN</h1>
    <br>
    <div class="content">
        <p align="justify">
            The user study and survey are in English.
            There are 3x20€ Amazon vouchers to be won at the end of the user study. If you would like to participate,
            please mention your email-id at the end of the survey. You will be notified in April if you have won the raffle.
        </p>
        <br><br>
        <button class="glow-on-hover" type="button" onclick="sendTo()">START</button>
    </div>
</body>
</html>