<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style_dark.css" rel="stylesheet" type="text/css">
<script src="../static/js/jquery-3.3.1.js"></script>
<script type = "text/javascript" src="../static/js/perform_actions.js"></script>
<script src="https://use.fontawesome.com/fe459689b4.js"></script>
<title>News Recommender</title>
</head>
    <body>
        <div id="loading"></div>
        <div id="elementToUpdate">
            <h1>
                <span class="blue">&lt;</span>NEWS<span class="blue">></span>
                <span class="yellow">Recommender</span>
            </h1>
            <h2>Recommender 2<span class="red"> (R2)</span></h2>
            <div class="informSystem"><b>YOU ARE INTERACTING WITH R2.</b></div>
            <div class="informSystemInstructions"> The user interface works in the same way as R1, BUT R2 is using a
                different approach to recommend news items to you. Please repeat the process you conducted with R1
                and observe any changes or differences you may notice in the items recommended to you.</div>
            <div class="informSystem"><b>YOU INTERACTED - {{ noOfInteractions }} times.</b></div>

            {% if noOfInteractions == 5 %}
{#                <div class="alert">#}
{#                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>#}
                    <script>
                        alert("The 'Go to Survey' button is now activated. You may now proceed to the survey. Click 'Go to " +
                            "Survey' at the bottom-right of the page. " +
                              "You can also choose to interact more times with R2 and then continue to the survey" +
                              " if you'd like.");
                    </script>
{#                </div>#}
            {% endif %}

            <div id="tableDiv">
            <!-- Dataframe in a table -->
                <table class="news_table">
                    <thead>
                        <tr>
                            {% for col in column_names %}
                            <th><h1>{{col}}</h1></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in row_data %}
                            <tr class="active-row">
                                {% for col, row_ in zip(column_names, row) %}
                                    {% if col == like_col %}
                                        <td>
                                            <i class="fa fa-thumbs-up fa-2x" id="green" title="double-click!" aria-hidden="true" onclick="toggleLike(this)">
                                            </i>
                                        </td>
                                    {% elif col == link_col %}
                                        <td>
                                             <a href="{{ row_ }}" target="_blank">Read</a>
                                        </td>
                                    {% else %}
                                        <td>{{row_}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                     </tbody>
                </table>
            </div>
            <br>

            <div class="container">
                <a href="#" id="recommend_btn_nr2"><span>Get Recommendations</span></a>
            </div>

            <br>

            {% if noOfInteractions >= 5 %}
                 <div class="container">
                    <a href="/survey" id="survey-btn"><span>Go to Survey</span></a>
                 </div>
            {% endif %}

        </div>

    {% if noOfInteractions == 0 %}
            <script>
                alert("You will now be interacting with R2. While the user interface works in the same way, R2 is using a " +
                    "different approach to recommend news items to you. Please repeat the process you conducted with R1 " +
                    "and observe any changes or differences you may notice in the items recommended to you.");
            </script>
    {% endif %}

    </body>
</html>
