<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style_dark.css" rel="stylesheet" type="text/css">
<script src="../static/js/jquery-3.3.1.js"></script>
<script type = "text/javascript" src="../static/js/perform_actions.js"></script>
<script src="https://use.fontawesome.com/fe459689b4.js"></script>
<title>News Recommender</title>
</head>
    <body>
        <div id="loading"></div>
        <div id="elementToUpdate">
            <h1>
                <span class="blue">&lt;</span>NEWS<span class="blue">&gt;</span>
                <span class="yellow">Recommender</span>
            </h1>
            <h2>Recommender 1<span class="red"> (R1)</span></h2>

            <div class="informSystem"><b>YOU ARE INTERACTING WITH R1.</b></div>
            <div class="informSystemInstructions">Briefly scroll through the list of articles and give
                a thumbs-up to 3-5 items that you like/catch your eye. Then click on Get Recommendations. Once again
                give a thumbs-up to 3-5 articles from the list of 10 items presented to you and repeat the process
                AT LEAST 5 times. Try to observe the items you're recommended.</div>
            <div class="informSystem"><b>YOU INTERACTED - {{ noOfInteractions }}</b></div>

            <div id="tableDiv">
            <!-- Dataframe in a table -->
                <table class="news_table">
                    <thead>
                        <tr>
                            {% for col in column_names %}
                            <th><h1>{{col}}</h1></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in row_data %}
                            <tr class="active-row">
                                {% for col, row_ in zip(column_names, row) %}
                                    {% if col == like_col %}
                                        <td>
                                            <i class="fa fa-thumbs-up fa-2x" title="double-click!" aria-hidden="true" id="green" onclick="toggleLike(this)">
                                            </i>
                                        </td>
                                    {% elif col == link_col %}
                                        <td>
                                             <a href="{{ row_ }}" target="_blank">Read</a>
                                        </td>
                                    {% else %}
                                        <td>{{row_}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                     </tbody>
                </table>
            </div>
            <br>

            <div class="container">
                <a href="#" id="recommend_btn"><span>Get Recommendations</span></a>
            </div>

            <br>

            {% if noOfInteractions >= 5 %}
                 <div class="container">
                     <a href="/news_recommender-2" id="go_r2" onload=""><span>Go to R2</span></a>
                 </div>
            {% endif %}
        </div>

    {% if noOfInteractions == 0 %}
            <script>
                alert("You will now be interacting with R1. Briefly scroll through the list of articles and give" +
                    " a thumbs-up to 3-5 items that you like/catch your eye. Then click on Get Recommendations. Once " +
                    "again give a thumbs-up to 3-5 articles from the list of 10 items presented to you and repeat the " +
                    "process AT LEAST 5 times. Try to observe the items you're recommended.");
            </script>
    {% endif %}

    </body>
</html>

{% if noOfInteractions == 5 %}
        <script>
            alert("The 'Go to R2' button has been activated. You may now proceed to R2. Click 'Go to R2'" +
                " at the bottom-right of the page. You can also" +
                " choose to interact more times with R1 and then continue to R2 if you'd like.");
        </script>
{% endif %}