<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style_dark.css" rel="stylesheet" type="text/css">
<script src="../static/js/jquery-3.3.1.js"></script>
<script type = "text/javascript" src="../static/js/perform_actions.js"></script>
<script src="https://use.fontawesome.com/fe459689b4.js"></script>
<title>News Recommender></title>
</head>
    <body>
        <div id="elementToUpdate">
            <h1>
                <span class="blue">&lt;</span>NEWS<span class="blue">&gt;</span>
                <span class="yellow">Recommender</span>
            </h1>
            <h2>A master thesis user study by <span class="red">Vaidehi Bafna</span></h2>
            <div id="tableDiv">
            <!-- Dataframe in a table -->
                <table class="news_table">
                    <thead>
                        <tr>
                            {% for col in column_names %}
                            <th><h1>{{col}}</h1></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in row_data %}
                            <tr class="active-row">
                                {% for col, row_ in zip(column_names, row) %}
                                    {% if col == like_col %}
                                        <td>
                                            <button class="like_btn" id="green" onclick="toggleLike(this)">
                                                <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    {% elif col == link_col %}
                                        <td>
                                             <a href="{{ row_ }}" target="_blank">Read</a>
                                        </td>
                                    {% else %}
                                        <td>{{row_}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                     </tbody>
                </table>
            </div>
            <br><br>

            <div class="container">
                <a href="#" id="recommend_btn"><span>Get Recommendations</span></a>
            </div>

        </div>
    </body>
</html>