<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/style_instructions.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script type = "text/javascript" src="../static/js/perform_actions.js"></script>
    <title>Welcome!</title>
</head>
<body>
            <h1><span class="blue">&lt;</span>INTRODUCTION<span class="blue">></span></h1>
            <h2>A master thesis user study</h2>
            <p align="justify">
                Hello, welcome to my user study! As a part of my master thesis, I am conducting a user study to derive
                insights from your interactions with my mock implementation of a News Recommendation System.
            </p>
            <p align="justify">
                First, you will learn about recommendation systems in brief and then proceed to the actual study, where
                you will interact with 2 news recommendation systems, and then answer some questions based on your
                observations. <strong>I am requesting for 20 minutes of your undivided attention to help me with my
                thesis!</strong>
            </p>
            <p align="justify">
                You will be guided along the way with instructions on what to do, and be alerted when something goes
                wrong. You may now proceed to the next page...
            </p>

            <br>
            <div class="user_study">
                <a href="/about"><span>Next</span></a>
            </div>

</body>
</html>